<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!--User wiring-->
        <!--Production config-->
        <bean name="userRepository"
                class="repository.user.HibernateUserRepository">
        </bean>

        <bean name="userService"
              class="service.user.DefaultUserService">
            <property name="repository" ref="userRepository"/>
        </bean>

        <!--TestConfig-->
        <bean name="testUserRepository"
              class="repository.user.TestUserRepository">
        </bean>

        <bean name="testUserService"
              class="service.user.DefaultUserService">
            <property name="repository" ref="testUserRepository"/>
        </bean>

        <bean name="testProspectRepository"
              class="repository.prospect.TestProspectRepository">
        </bean>

        <bean name="testProspectService"
              class="service.prospect.DefaultProspectService">
            <property name="repository" ref="testProspectRepository"/>
        </bean>

    <!--Prospect wiring-->
    <bean name="prospectRepository"
          class="repository.prospect.HibernateProspectRepository">
    </bean>

    <bean name="prospectService"
          class="service.prospect.DefaultProspectService">
        <property name="repository" ref="prospectRepository"/>
    </bean>

    <!--Profession wiring-->
    <bean name="professionRepository"
          class="repository.profession.HibernateProfessionRepository">
    </bean>

    <bean name="professionService"
          class="service.profession.DefaultProfessionService">
        <property name="repository" ref="professionRepository"/>
    </bean>

</beans>