<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Test repository wiring-->
    <bean name="testRepository"
            class="repository.HibernateTestRepository">
    </bean>

    <bean name="testService"
          class="service.TestServiceImpl">
        <property name="repository" ref="testRepository"/>
    </bean>

    <!--User wiring-->
        <!--Production config-->
        <bean name="userRepository"
                class="repository.user.HibernateUserRepository">
        </bean>

        <bean name="userService"
              class="service.user.DefaultUserService">
            <property name="repository" ref="userRepository"/>
        </bean>

        <!--TestConfig-->
        <bean name="testUserRepository"
              class="repository.user.TestUserRepository">
        </bean>

        <bean name="testUserService"
              class="service.user.DefaultUserService">
            <property name="repository" ref="testUserRepository"/>
        </bean>

    <!--Prospect wiring-->
    <bean name="prospectRepository"
          class="repository.prospect.HibernateProspectRepository">
    </bean>

    <bean name="prospectService"
          class="service.prospect.DefaultProspectService">
        <property name="repository" ref="prospectRepository"/>
    </bean>

</beans>