<hibernate-configuration>
    <session-factory>
        <!--Sql settings-->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <!--Database settings-->
        <property name="connection.url">jdbc:mysql://84.24.62.136:3306/rmts?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC</property>
        <property name="connection.username">RMTS</property>
        <property name="connection.password">Habibke</property>

        <!--Hibernate settings-->
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>

        <!--Mappings-->
        <mapping class="model.prospect.Prospect"/>
        <mapping class="model.user.User"/>
        <mapping class="model.address.Address"/>
        <mapping class="model.socialLinks.SocialLinks"/>
        <mapping class="model.status.Status"/>
        <mapping class="model.profession.Profession"/>
        <mapping class="model.action.ActionType"/>
        <mapping class="model.action.Action"/>

    </session-factory>
</hibernate-configuration>